openapi: 3.0.0
info:
  title: Bookstore Management Backend API
  description: Простая OpenAPI спецификация для API бэкенда системы управления книжным магазином, основанная на предоставленных диаграммах. Включает эндпоинты для управления задачами (tasks), адаптированные к контексту системы (например, задачи могут представлять заказы или внутренние задачи магазина).
  version: 1.0.0
  contact:
    name: API Support
    email: support@bookstore.com

servers:
  - url: https://api.bookstore.com/v1
    description: Production server

paths:
  /tasks:
    get:
      summary: Получить список задач
      description: Возвращает список всех задач (например, заказов или внутренних задач магазина). Основан на OrderService из диаграмм.
      operationId: getTasks
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '401':
          description: Неавторизован
        '500':
          description: Внутренняя ошибка сервера
    post:
      summary: Создать новую задачу
      description: Создает новую задачу (например, заказ). Основан на OrderService из диаграмм.
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '201':
          description: Задача создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Неверный запрос
        '401':
          description: Неавторизован
        '500':
          description: Внутренняя ошибка сервера
  /tasks/{id}:
    get:
      summary: Получить задачу по ID
      description: Возвращает детали конкретной задачи. Дополнительный эндпоинт для полноты.
      operationId: getTaskById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID задачи
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Задача не найдена
        '401':
          description: Неавторизован
        '500':
          description: Внутренняя ошибка сервера

components:
  schemas:
    Task:
      type: object
      properties:
        id:
          type: integer
          description: Уникальный идентификатор задачи
        title:
          type: string
          description: Название задачи (например, "Заказ книги")
        description:
          type: string
          description: Описание задачи
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
          description: Статус задачи (основан на OrderService)
        createdAt:
          type: string
          format: date-time
          description: Дата создания
        updatedAt:
          type: string
          format: date-time
          description: Дата последнего обновления
      required:
        - title
        - status
    TaskInput:
      type: object
      properties:
        title:
          type: string
          description: Название задачи
        description:
          type: string
          description: Описание задачи
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
          description: Статус задачи
      required:
        - title
        - status

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
